.hidden{display: none;}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #F1F2D8;
}

h1 {
  color: #EA6048;
  font-size: 48px;
  padding-top: 25px;
}

.well{
  background-color:#D3F4D4;
}


#login-page, #signup-page{
      padding-top: 80px;
    color: rgb(232, 46, 131);
}

li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
header{height:50px;margin-top:10px;}
.heading{font-size: 18px;font-weight: bold;color: #0aa;font-style: italic;}
.modal-body input{width:450px;}
.link-name{margin-left:45px;width:400px;}
.child.active{color:red;}
.navigation{margin-left:100px;}